@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
}
/* mantine select  */

.mantine-Select-dropdown,
.mantine-MultiSelect-dropdown {
  background-color: #18181b !important;
  border-color: #18181b;
  border: 1px solid;
}
.mantine-Select-item,
.mantine-MultiSelect-item {
  background-color: #18181b;
  background: #18181b;
  color: white;
  transition: all 0.1s;
}
.mantine-Select-item:hover {
  background-color: #27272a;
  color: white;
}

.multi-select .mantine-MultiSelect-input,
.mantine-Select-input {
  background-color: #18181b !important;
  color: white !important;
  border-radius: 8px;
  border: 0px;
}
.multi-select .mantine-1wlywjh {
  background-color: #228be6 !important;
  color: white !important;
}
.multi-select .mantine-t9mzg3[data-hovered] {
  background-color: #228be6 !important;
  color: white !important;
}

/* sweetalert css  */
.swal-modal {
  background-color: #27272a;
  color: white !important;
}
.swal-title {
  color: white !important;
}
.swal-text {
  color: white !important;
}
.swal-icon--success {
  border-color: #228be6 !important;
}
.swal-icon--success:after,
.swal-icon--success:before {
  background: none;
}
.swal-icon--success__line {
  background-color: #228be6;
}
.swal-icon--success__hide-corners {
  background-color: transparent;
}

/* maintine modal */

.mantine-Modal-header,
.mantine-Modal-content {
  background-color: #27272a;
  color: white !important;
}

/* nav dropdown menu  */
.nav-dropdown {
  background: #27272a;
  border: 1px solid;
}
.nav-dropdown-item {
  color: white;
}
.nav-dropdown-item:hover {
  background-color: #228be6;
  color: white;
}

/* mantine tab */
.mantine-Tabs-tabsList {
  /* border: none; */
  border-color: #228be695;
}
.mantine-Tabs-tab {
  color: white;
  background-color: #27272a;
  border-bottom: none;
  transition: all 0.1s ease;
  padding: 15px 30px;
  font-size: 16px;
  margin-right: 0px;
  border-radius: 2px;
}
.mantine-Tabs-tab:hover {
  color: white;
  background-color: #228be6a7;
  border-color: #228be6a7;
}
.mantine-1hher0m[data-active] {
  background-color: #228be6;
  color: white;
}
